.frame {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* Center vertically */
  height: 100vh; /* Set the height to the full viewport height */
}

.frame .overlap-group-wrapper {
  height: 600px;
  width: 353px;
}

.frame .overlap-group {
  height: 600px;
  position: relative;
  width: 285px;
}

.frame .rectangle {
  height: 600px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 278px;
}

.frame .div {
  background-color: #c05aff;
  border: 1px solid;
  border-color: #000000;
  height: 235px;
  left: 130px;
  position: absolute;
  top: 62px;
  width: 150px;
}

.frame .rectangle-2 {
  background-color: #96c0ff;
  border: 1px solid;
  border-color: #000000;
  height: 235px;
  left: 2px;
  position: absolute;
  top: 62px;
  width: 132px;
}

.frame .takeovers-goals {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 114px;
  width: 141px;
}

.frame .text-wrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 144px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 114px;
  width: 141px;
}

.frame .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 80px;
  width: 141px;
}

.frame .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 143px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 84px;
  width: 141px;
}

.frame .rectangle-3 {
  background-color: #fcb001;
  border: 1px solid;
  border-color: #000000;
  border-radius: 19px;
  height: 55px;
  left: 117px;
  position: absolute;
  top: 530px;
  width: 55px;
}

.frame .rectangle-4 {
  background-color: #fcb001;
  border: 1px solid;
  border-color: #000000;
  border-radius: 19px;
  height: 49px;
  left: 183px;
  position: absolute;
  top: 532px;
  width: 86px;
}

.frame .rectangle-5 {
  background-color: #fcb001;
  border: 1px solid;
  border-color: #000000;
  border-radius: 19px;
  height: 49px;
  left: 15px;
  position: absolute;
  top: 532px;
  width: 89px;
}

.frame .rectangle-6 {
  background-color: #96c0ff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 16px;
  height: 43px;
  left: 13px;
  position: absolute;
  top: 360px;
  width: 115px;
}

.frame .rectangle-7 {
  background-color: #96c0ff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 16px;
  height: 43px;
  left: 13px;
  position: absolute;
  top: 304px;
  width: 115px;
}

.frame .text-wrapper-4 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 39px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 315px;
  white-space: nowrap;
}

.frame .rectangle-8 {
  background-color: #c05aff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 16px;
  height: 43px;
  left: 154px;
  position: absolute;
  top: 361px;
  width: 115px;
}

.frame .rectangle-9 {
  background-color: #c05aff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 16px;
  height: 43px;
  left: 154px;
  position: absolute;
  top: 306px;
  width: 115px;
}

.frame .rectangle-10 {
  background-color: #96c0ff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 16px;
  height: 43px;
  left: 15px;
  position: absolute;
  top: 416px;
  width: 115px;
}

.frame .rectangle-11 {
  background-color: #96c0ff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 16px;
  height: 43px;
  left: 15px;
  position: absolute;
  top: 480px;
  width: 115px;
}

.frame .rectangle-12 {
  background-color: #c05aff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 16px;
  height: 43px;
  left: 154px;
  position: absolute;
  top: 416px;
  width: 115px;
}

.frame .rectangle-13 {
  background-color: #c05aff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 16px;
  height: 43px;
  left: 154px;
  position: absolute;
  top: 480px;
  width: 115px;
}

.frame .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 372px;
  width: 141px;
}

.frame .text-wrapper-6 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 141px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 373px;
  width: 141px;
}

.frame .element-shot-on-target {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 418px;
  width: 141px;
}

.frame .text-wrapper-7 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 484px;
  width: 124px;
}

.frame .text-wrapper-8 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 153px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 484px;
  width: 110px;
}

.frame .element-shot-on-target-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 141px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 418px;
  width: 141px;
}

.frame .rectangle-14 {
  background-color: #000000;
  border: 1px solid;
  height: 36px;
  left: 150px;
  position: absolute;
  top: 541px;
  width: 13px;
}

.frame .rectangle-15 {
  background-color: #000000;
  border: 1px solid;
  height: 36px;
  left: 128px;
  position: absolute;
  top: 541px;
  width: 13px;
}

.frame .polygon {
  height: 38px;
  left: 216px;
  position: absolute;
  top: 539px;
  width: 33px;
}

.frame .img {
  height: 38px;
  left: 47px;
  position: absolute;
  top: 539px;
  width: 33px;
}

.frame .text-wrapper-9 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 176px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 315px;
}

